ul {
  list-style-type: none;
  display: table;
  width: 90%;
  border-spacing: 0 10px;
}

li {
  display: table-row;
}

li strong, li .txt, li .langs {
  display: table-cell;
  vertical-align: middle;
}

img {
  display: table-cell;
  padding-right: 10px;
}

li .txt {
  width: 60%;
  padding-right: 10px;
}

li:nth-child(even) {
  background: #eee;
}
.page-header{
  text-decoration: underline;
  text-decoration-color: coral;
  text-align: center;
}